.footer-font {
    font-size: 13px;
}

.footer-margin {
    height: 70px!important;
}

.blue {
    color: #2d73ac!important;
}

.bg-gray {
    background-color: #343a40;
}

i.hover-orange:hover {
    color: #faa161!important;
}